body{
    margin: 0%;
    position: relative;
}

::selection {
    color: white;
    background: #67b9ac;
  }
svg{
    z-index: -1;
    position: absolute;
}
path{
    fill : url(#gradient)
}


.content{

    display: grid;
    grid-template-columns: 40% 60%;
    z-index: 99;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 50vh;
    padding: 10% 10% 0 10%;
}

.dp{
    overflow: hidden;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    border: #007e694f solid 1px;
    padding: 5px;
    
}
.dp img{
    border-radius: 100px;
}

.header h1{
    font-size: 35px;
    font-weight: 500;
}

.header h2{
    margin-top: -20px;
    font-size: 20px;
    font-weight: 300;
}
.header h3{
    margin-top: -15px;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 300;
}

.right{
    padding: 20px;
    border-left: solid 1px  #007e69 ;
    margin-top: 150px;
}

p{
     font-size: 15px;
     font-weight: 300;
     line-height: 20px;
     text-align: justify;
     text-justify: inter-word;
 }

 button{
     right: 100px;
     position: absolute;
     bottom: -100px;
     padding: 20px;
     outline: none;
     border: none;
     border-radius: 20px;
     background: linear-gradient(80deg, #007e69b2 0%, #00cba9c0 100%);
     color: white;
     font-size: 15px;
     font-weight: 600;
     cursor:pointer;
     box-shadow: 0px 3px 5px #00000038;
 }

 button:hover{
    background: linear-gradient(80deg, #007e69 0%, #00cba9 100%);
    box-shadow: 0px 5px 5px #00000038;

 }


/* Personal Info */
.personal_info{
    margin-top: 100px;
}
 .personal_info h1{
    font-size: 25px;
    font-weight: 400;
}

.info{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.info img{
    width: 30px;
}

.personal_info h3{
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 300;
}

/* section */

.section{
    margin-top: 40px;
    font-size: 15px;
    font-weight: 300;
}
.section h1{
    font-size: 25px;
    font-weight: 400;
}
 .section h3{
     margin: 10px 0;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 400;
}

.section h2{
   margin-top: -10px;
   letter-spacing: 1px;
   font-size: 15px;
   font-weight: 400;
}

.section li{
    display:inline-block;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 300;
    padding-right: 15px;
    margin-bottom: 10px;
 }

 .section li::before {content: "•"; color: #007e69}

.lan{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.section h4{
    font-size: 16px;
    font-weight: 400;
}

.section h5{
    margin-top: -15px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 300;
}

.section h6{
    margin:5px;
    font-size: 14px;
    font-weight: 400;
}

 @media print {
    body * {
        visibility: hidden;
        -webkit-print-color-adjust: exact !important;      
    }

    .content {
        padding: 0px;
    }

    .content * {
        visibility: visible;
        -webkit-print-color-adjust: exact !important;
    }

    .left{
        margin-right: 20px;
    }

    .dp{
        position: relative;
        margin: auto;
    }

    .header h1{
        text-align: center;
        font-size: 25px;
        font-weight: 500;
    }
    
    .header h2{
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        margin-top: -15px;
    }
    .header h3{
        text-align: center;
        letter-spacing: 3px;
        font-size: 10px;
        font-weight: 300;
        margin-top: -10px;
    }

    .right{
        padding: 0 20px;
        border-left: solid 0.5px rgb(175, 175, 175);
        margin-top: 0px;
    }

    p{
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }

    .personal_info{
        border-top: solid 0.5px rgba(175, 175, 175, 0.329);
        margin-top: 20px;
        padding-top: 10px;
    }

    .info img{
        width: 20px;
    }

    .info{
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
    }

    .personal_info h3{
        font-size: 14px;
        margin: 10px 0;
    }

    .personal_info h1{
        font-size: 18px;
        font-weight: 400;
    }
    
    .section{
        border-top: solid 0.5px rgba(175, 175, 175, 0.329);
        margin-top: 20px;
        padding-top: 10px;
    }
    .section h1{
        font-size: 18px;
        font-weight: 400;
    }
     .section h3{
        font-size: 14px;
        font-weight: 400;
    }
    .section h2{
        font-size: 13px;
     }

     .star{
         display: none;
     }


        
}

@media screen and (max-width: 660px) {
    .content{

        display: block;
        padding: 10% 10% 0 10%;
    }

    .right{
        padding: 0 20px;
        border-left: solid 1px  #007e69 ;
        margin-top: 30px;
    }

    .personal_info{
        border-top: solid 0.5px rgba(175, 175, 175, 0.329);
        border-bottom: solid 0.5px rgba(175, 175, 175, 0.329);
        margin-top: 30px;
        padding: 10px 0;
    }
}

@media screen and (max-width: 950px) {
    button{
        right: 50px;
        position: absolute;
        bottom: -80px;
       
    }
   
}